@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:darkslategrey;
}

th{
  text-align:left;
  padding-right:20px;
}

td{
  padding-right:20px;
  max-width:200px;
}
.red{
  color:red;
}


.checkButton{
  padding:10px;
  background-color:aquamarine;
  border-radius:5px;
  box-shadow: 2px 2px 2px #244835;
  border:none;
}

.checkButton:hover{
  background-color:greenyellow;
  cursor:pointer;
}

form>input{
  margin-bottom:10px;
}

h2{
  font-size:x-large;
  font-weight:700;
  color:slategrey;
}
h3{
  font-size: large;
  font-weight: 700;
  padding-top: 10px;
}